.payment__container{
    position: absolute;
    left: 0;
    top: 0;
    min-width: 30vw;
    height: 100vh;
    background-color: #111;
    z-index: 2;
    color: #f2f2f2;
    border-radius: 0 12px 12px 0;
}

.payment__container__title{
    padding: 12px;
    border-bottom: 1px solid #3A3A3A;
    width: 100%;
    min-width: 100%;
    display: block;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 24px;
}

.payment__container__payment_element{
    background-color: #222;
    margin: 12px;
    padding: 12px;
    border-radius: 5px;
}

.payment__container__payment_element_devider{
    width: 100%;
    height: 12px;
    background-color: #111;
    margin-bottom: 48px;
}

.payment_element__input{
    outline: none;
    background-color: #222;
    border: none;
    color: #f2f2f2;
    font-size: 16px;
    width: 100%;
}

.payment__element_inputs_container{
    display: flex;
    justify-content: space-between;
}

.payment__element_inputs_container{
    margin-bottom: 24px;
}